<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " [routerLink]="['trainer/home']">
                <i class="bi bi-grid"></i>
                <span>Home</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link " [routerLink]="['trainer/courses']">
                <i class="bi bi-layout-text-window-reverse"></i><span>Courses</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " [routerLink]="['trainer/students']">
                <i class="bi bi-grid"></i>
                <span>students </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['trainer/profile/1']">
                <i class=" bi bi-person "></i>
                <span>Profile</span>
            </a>
        </li>
        <!-- End Profile Page Nav -->

    </ul>

</aside>
<!-- End Sidebar-->