<div class="tab-pane fade show active profile-overview " id="profile-overview ">

    <h5 class="card-title ">Profile Information</h5>

    <div class="row ">
        <div class="col-lg-3 col-md-4 label ">Name</div>
        <div class="col-lg-9 col-md-8 ">{{ user.name}}</div>
    </div>

    <div class="row ">
        <div class="col-lg-3 col-md-4 label ">E-Mail</div>
        <div class="col-lg-9 col-md-8 ">{{user.email}}</div>
    </div>

    <div class="row ">
        <div class="col-lg-3 col-md-4 label ">Phone</div>
        <div class="col-lg-9 col-md-8 ">{{user.phone}}</div>
    </div>

    <div class="row ">
        <div class="col-lg-3 col-md-4 label ">Address</div>
        <div class="col-lg-9 col-md-8 ">{{user.address}}</div>
    </div>

    <div class="row" *ngIf="user.user_profile.gender">
        <div class="col-lg-3 col-md-4 label ">Gender</div>
        <div class="col-lg-9 col-md-8 ">{{user.user_profile.gender}}</div>
    </div>
    <div class="row" *ngIf="user.user_profile.governorate">
        <div class="col-lg-3 col-md-4 label ">Governorate</div>
        <div class="col-lg-9 col-md-8 ">{{user.user_profile.governorate}}</div>
    </div>
    <div class="row" *ngIf="user.user_profile.city">
        <div class="col-lg-3 col-md-4 label ">City</div>
        <div class="col-lg-9 col-md-8 ">{{user.user_profile.city}}</div>
    </div>
</div>